@import "tailwindcss";

@font-face {
  font-family: "MyFont";
  src: url("/fonts/font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Font_th";
  src: url("/fonts/MOMMYBOEDEMOPERSONALUSE-Thin.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Font_th";
}
